@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

html {
  font-size: 18px;
}
body {
  font-family: Source Sans Pro !important;
  font-size: 1rem;
  line-height: 1.75rem;
}
h2.common-title {
  font-weight: bold;
  font-size: 58px;
  line-height: 62px;
  color: #002240;
  margin: 2rem 0;
  letter-spacing: -0.01em;
}
.image-container {
  width: 80px;
  height: 80px;
}
.bg-primary {
  background-color: #329DFA !important;
}

.btn-primary:hover {
  color: #329DFA !important;
  background-color: #fff !important;

}
.btn-outline-primary:hover {
  box-shadow: 0 30px 60px 0 rgba(38, 59, 94, 0.1);
}
.btn:active, .btn:focus,
.btn-outline-primary.focus, .btn-outline-primary:focus,
button:active, button:focus {
  outline: none!important;
  box-shadow: none!important;
}


/**
 * 4.0 Media Queries
 * ----------------------------------------------------------------------------
 */








.btn {
  border-radius: 5px;
}
.btn-primary {
  background-color: #0688FA!important;
  border-color: #0688FA!important;
}
.btn-outline-primary {
  color: #0688FA!important;
  &:hover {
    color: #fff!important;
  }
}
