@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

html {
  font-size: 18px;
}
body {
  font-family: Source Sans Pro !important;
  font-size: 1rem;
  line-height: 1.75rem;
}
h2.common-title {
  font-weight: bold;
  font-size: 58px;
  line-height: 62px;
  color: #002240;
  margin: 2rem 0;
  letter-spacing: -0.01em;
}
.image-container {
  width: 80px;
  height: 80px;
}
.bg-primary {
  background-color: #329DFA !important;
}

.btn-primary:hover {
  color: #329DFA !important;
  background-color: #fff !important;

}
.btn-outline-primary:hover {
  box-shadow: 0 30px 60px 0 rgba(38, 59, 94, 0.1);
}
.btn:active, .btn:focus, .btn-outline-primary.focus, .btn-outline-primary:focus {
  outline: none!important;
  box-shadow: none!important;
}
.carousel-control-next i,
.carousel-control-prev i {
  font-size: 35px;
  color: #fff;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #f5f5f5 !important;
  border-color: #f5f5f5 !important;
}
.card-img-top {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

/**
 * 4.0 Media Queries
 * ----------------------------------------------------------------------------
 */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) {
}

@media (min-width: 783px) {
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) {
  .nav-item {
    font-size: 2rem;
  }
  .carousel-one,
  .carousel-two,
  .carousel-three,
  .carousel-four,
  .carousel-five {
    height: 20vh !important;
    min-height: 40vh !important;
  }
  .tab-content {
    margin: 0 !important;
  }
  #header {
    .contact-us {
      font-size: 2rem;
    }
  }
  #footer {
    .footer-img {
      display: none;
    }
    a,
    h5,
    .list-spaced p,
    .copy-rights span {
      font-size: 1.5rem !important;
      line-height: 1.2 !important;
    }
  }
  #offer {
    .offer-title {
      font-size: 5rem;
      margin-bottom: 4rem;
      margin-top: 4rem;
    }
    .about ul li {
      font-size: 1.5rem;
      display: block;
      line-height: 1;
    }
    .offer-description {
      p {
        font-size: 1.5rem;
        line-height: 1.5;
      }
      span {
        font-size: 3rem;
      }
    }
  }
  #faqs {
    padding: 2rem;
    #faq-carousel-indicators {
      padding: 3rem !important;
      margin-top: 3rem;
      h3 {
        font-size: 1.5rem;
        line-height: 1;
      }
      p {
        font-size: 1.2rem;
        line-height: 1.2;
        small {
          font-size: 2.5rem;
        }
      }
      .carousel-indicators li {
        width: .5rem !important;
        height: .5rem !important;
        border-radius: 100%;
      }
    }
    .faq-title {
      font-size: 2rem;
    }
    .panel-group {
      .panel {
        .faq-answer {
          font-size: 2rem;
          line-height: 1.5;
        }
        .panel-heading {
          .panel-title {
            a {
              span {
                font-size: 1.5rem;
              }
              i {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
  #magazines {
    .magazine-title {
      font-size: 3rem;
      margin-bottom: 3rem;
      margin-top: 0;
      line-height: 1;
    }
    .card {
      margin-bottom: 5rem;
    }
    .card-text {
      font-size: 2.5rem;
      line-height: 1;
    }
  }
  #daily-program {
    .tab-content {
      margin: 0;
    }
    .nav-tabs .nav-link {
      font-size: .5rem !important;
      padding: .2rem !important;
      font-weight: bold !important;
    }
    #whats-included-two {
      .services {
        text-align: center !important;
        h5 {
          font-size: 2rem !important;
        }
        i {
          font-size: 8rem !important;
          padding: 2rem 0;
        }
      }
    }
    #feature-collapse {
      h5 {
        font-size: 2rem;
        text-align: center;
      }
    }
    .view-details {
      text-align: center;
      button {
        font-size: 2rem !important;
        margin-bottom: 2rem;
      }
    }
    .desc-responsive {
      text-align: center;
      padding: 0 5rem;
      i {
        font-size: 8rem;
        padding: 2rem 0;
      }
    }
    .features-border {
      .text-center {
        padding: 2rem;
        img {
          width: 50%;
        }
      }
      .daily-short-content {
        text-align: center;
      }
      i.fa-chevron-down,
      i.fa-chevron-up {
        font-size: 3rem;
      }
    }
    h2,
    h3 {
      font-size: 1.5rem !important;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.5rem !important;
      line-height: 1.2 !important;
      padding: 0 !important;
    }
    ul li {
      font-size: 1.2rem !important;
    }
    .extra {
      text-align: center;
    }
    .highlights {
      li {
        line-height: 1.2 !important;
      }
    }
    .features-title li h4 {
      font-size: 2rem !important;
      color: #000 !important;
    }
    .features-title,
    .features-experiences {
      display: block !important;
    }
  }
  #maps {
    .related-topics {
      overflow-y: initial !important;
      height: initial !important;
      padding: 0 5rem;
    }
    .topics-container {
      display: none;
    }
    .view-all-adventures {
      margin: 2rem;
      font-size: 3rem;
      text-align: center;
    }
    .overflow-single {
      text-align: center;
      h3,
      .stars,
      i,
      span {
        font-size: 2rem;
        line-height: 2;
      }
      .bucket-list,
      .travel-pic {
        width: 50%;
        margin: auto;
        padding: 1rem;
      }
    }
  }
}

@media (min-width: 992px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}









.btn {
  border-radius: 5px;
}
.btn-primary {
  background-color: #0688FA!important;
  border-color: #0688FA!important;
}
.btn-outline-primary {
  color: #0688FA!important;
  &:hover {
    color: #fff!important;
  }
}
